<app-header></app-header>
<div class="home">
  <div class="hero is-info is-medium">
    <div class="hero-body has-text-centered">
      <h1 class="title">Welcome to WeSmart</h1>
      <h2 class="subtitle">An online place for learning what you want</h2>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline">

        <div class="column is-4">
          <div class="box hast-text-centered">
            <span class="icon is-size-2 has-text-info"><i class="far fa-clock"></i></span>
            <h2 class="is-size-4 mt-4 mb-4">My Courses</h2>
            <p>Have a look at all your Courses</p>
          </div>
        </div>

        <div class="column is-4">
          <div class="box hast-text-centered">
            <span class="icon is-size-2 has-text-info"><i class="far fa-clock"></i></span>
            <h2 class="is-size-4 mt-4 mb-4">News</h2>
            <p>Explore our new courses</p>
          </div>
        </div>

        <div class="column is-4">
          <div class="box hast-text-centered">
            <span class="icon is-size-2 has-text-info"><i class="far fa-clock"></i></span>
            <h2 class="is-size-4 mt-4 mb-4">My Account</h2>
            <p>Configure your personal Account</p>
          </div>
        </div>

        <div class="column is-12 has-text-centered">
          <a href="#" class="button is-info is-size-3 mt-6 mb-6">Click to get started</a>
        </div>

      </div>
    </div>
  </section>

</div>

<app-footer></app-footer>
