<app-header></app-header>
<app-title-area title="Playground: YouTube Player"></app-title-area>
<br>
<div class="columns is-centered">
  <div class="table is-centered">
    <tbody>
    <tr>
      <h5 class="title is-5">Custom size video playing from second 30 to second 60</h5>
    </tr>
    <tr>
      <app-youtube-player width="320" height="	180" startSeconds="30" endSeconds="60"
                          videoId="Zca69OB2b0U"></app-youtube-player>
    </tr>
    <tr>
      <h5 class="title is-5">Nachfolgend die üblichen 16:9 Formate</h5>
    </tr>
    <tr>
      <img src="../../../assets/uploads/media/pictures/16_9.png" alt="Formats">
    </tr>
    </tbody>
  </div>
</div>
<app-footer></app-footer>

