<app-header></app-header>
<app-title-area title="Playground: PDF"></app-title-area>
<div class="playground">
  <section>
    <hr>
    Link:
    <p>- https://www.w3docs.com/snippets/html/how-to-embed-pdf-in-html.html</p>
    <p>- https://stackoverflow.com/questions/13218687/set-auto-height-for-iframe</p>
    <hr>
    <h5 class="title is-5">PDF Example with iframe (with toolbar)</h5>
    <iframe src="/assets/uploads/media/pdf/demo_pdf.pdf" width="50%" height="850px">
    </iframe>

    <hr>
    <h5 class="title is-5">PDF Example with iframe (without toolbar)</h5>
    <iframe src="/assets/uploads/media/pdf/demo_pdf.pdf#toolbar=0" width="50%" height="800px">
    </iframe>
  </section>
</div>
<app-footer></app-footer>


