@import "./../../../styles";

#card-title {
  min-height: 60px;
}

.card {
  padding-top: 30px;
  height: 500px;
}

.card:hover {
  background-color: $primary;

  .card-text {
    color: $primary-invert;
  }
}


#card-title {
  min-height: 60px;
}

.card {
  padding-top: 30px;
  height: 500px;
}

.card:hover {
  background-color: $primary;

  .card-text {
    color: $primary-invert;
  }
}
