<div class="progressSpinner">
  <app-header></app-header>
  <app-title-area title="Progress Spinner"></app-title-area>
  <section>
    <br>
    Link: https://material.angular.io/components/progress-spinner/overview
    <hr>
    <h3 class="title is-3">Mat Spinner</h3>
    <mat-spinner class="is-danger"></mat-spinner>
    <hr>
    <h3 class="title is-3">Mat Progress Spinner indeterminate</h3>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <hr>
    <h3 class="title is-3">Mat Progress Spinner determinate</h3>
    <mat-progress-spinner value="80" diameter="120"></mat-progress-spinner>
    <hr>
    <h3 class="title is-3">Mat Progress Spinner determinate colored warn</h3>
    <mat-progress-spinner value="80" color="warn" diameter="100"></mat-progress-spinner>
    <hr>
    <h3 class="title is-3">Mat Progress Spinner determinate colored accent</h3>
    <mat-progress-spinner value="80" color="accent" diameter="200"></mat-progress-spinner>

  </section>
  <app-footer></app-footer>
</div>
